<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Relatório - Cursos com Turmas Abertas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-4">
    <h2 class="mb-4 text-center text-primary">Relatório: Cursos com Turmas Abertas</h2>

    {% for curso in cursos %}
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">{{ curso.nome_curso }}</h5>
                <!--<small>Curso: {{ turma.nome_curso }}</small>-->
            </div>

            <div class="card-body bg-white">
               
                {% if curso.turmas.all %}
                    <table class="table table-bordered table-striped table-hover align-middle">
                        <thead class="table-light">
                            <tr>
                                <th style="width: 10%;">Turma</th>
                                <th style="width: 35%;">Turno</th>
                                <th style="width: 35%;">Ciclo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for turma in curso.turmas.all %}
                                <tr>
                                    <td>{{ turma.nome_turma }}</td>
                                    <td>{{ turma.turno }}</td> 
                                    <td>{{ turma.ciclo}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-muted mb-0">Nenhuma turma cadastrada para este curso</p>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning text-center">
            Nenhum curso cadastrado no sistema.
        </div>
    {% endfor %}
</div>

</body>
</html>
